* {
    box-sizing: border-box;
}
body {
    background-color:#FFFFFF;
    color:#666666;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image:linear-gradient(to bottom,#eeeeee, #ffffff);
    background-attachment: fixed;
    margin:0px;
}
main {
    padding-left:2rem;
    padding-right:2rem;
    grid-row: 4 / 5;
    grid-column: 2 / -2;
    background-color:#ffffff;
}
header {
    background-color: #003058;
    color:#FFFFFF;
    font-family:Georgia, 'Times New Roman', Times, serif;
    grid-column:2 / -2;
    grid-row:1 / 2;
}
header a {
    text-decoration: none;
    color:#ffffff;
}
body header h1 {
    line-height:140%;
    padding:.5rem;
}
nav {
    padding:.5rem .5rem .5rem 2rem;
    font-weight:bold;
    background-color:#424242;
    grid-column:2 / -2;
    grid-row:2 / 3;
    padding:0;
    margin:0;
    position:sticky;
    top:0;
}
nav ul {
    margin:0;
    padding:0;
    display:flex;
    flex-flow: row nowrap;
    list-style-type: none;
}
nav ul li{
    width:100%;
}
nav a {
    text-decoration: none;
    color:#FFFFFF;
    padding: 1rem 0rem;
    display:block;
    text-align: center;
}
nav a:hover {
    background-color:#BA1C21;
}
h1 {
    background-image:url(assets/utahtechlogo.svg);
    background-position:right;
    background-repeat:no-repeat;
    padding-left:1em;
    background-origin: content-box;
    margin:0;
}
h2 {
    color:#424242;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h3 {
    color:#003058;
}
.ut {
    color:#BA1C21;
    font-weight:bold;
}
dt {
    color:#003058;
    font-weight:bold;
}
footer {
    padding:1rem;
    font-size:.70rem;
    font-style:italic;
    text-align:center;
    grid-row: 5 / 6;
    grid-column: 2 / -2;
}
#wrapper {
    display:grid;
    grid-auto-rows:minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}
#students {
    width:300px;
}
#homehero {
    height:300px;
    background-image:url("assets/homehero.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 50%;
    grid-row: 3 / 4;
    grid-column: 2 / -2;
}
#studenthero {
    height:300px;
    background-image:url("assets/studenthero.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 50%;
    grid-row: 3 / 4;
    grid-column: 2 / -2;
}
#facultyhero {
    height:300px;
    background-image:url("assets/facultyhero.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 50%;
    grid-row: 3 / 4;
    grid-column: 2 / -2;
}
main img {
    float:right;
    padding-left:2rem;
}