body {
    background-color:#FFFFFF;
    color:#666666;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header {
    background-color: #003058;
    color:#FFFFFF;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body header h1 {
    line-height:140%;
    padding:.5rem;
}
nav {
    font-weight:bold;
    background-color:#F3F3F3;
}
#wrapper {
    width: 80%;
    margin-right:auto;
    margin-left:auto;
}