a {
    color:red;
}
header {
    background-color:rgb(217, 63, 63, 1);
}
h1 {
    font-size:5em;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-shadow:5px 5px 8px white;
    text-transform:uppercase;
}