a {
    color:red;
    text-decoration: none;
}
header {
    background-color:rgb(217, 63, 63, 1);
    height:150px;
}
h1 {
    font-size:5em;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-shadow:5px 5px 8px white;
    text-transform:uppercase;
    margin:0px;
    text-align:center;
}
footer {
    text-align:center;
}
body {
    margin:0px;
    /*This is the image behind everything*/
    background-image:url("assets/doenstexist.jpg");
    background-position:50% 50%;
    background-size:cover;
    background-attachment:fixed;
}
main {
    margin:10px 10px 10px 10px;
}
nav {
    border:5px double rgb(217, 63, 63, 1);
    border-radius:20px;
    text-align:center;
    font-size:2em;
}
nav ul li {
    display:inline-block;
    padding:5px 5px 5px 5px;
    background-color:green;
}
.images {
    width:400px;
}
.ILOVETREVOR {
    /*This is the image at the top of the website*/
    height:400px;
    background-image:url("assets/casino-1.1.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:50% 50%;
}