body {
    background-color:#FFFFFF;
    color:#666666;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image:linear-gradient(to bottom,#eeeeee, #ffffff);
    background-attachment: fixed;
}
main {
    padding-left:2rem;
    padding-right:2rem;
}
header {
    background-color: #003058;
    color:#FFFFFF;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body header h1 {
    line-height:140%;
    padding:.5rem;
}
nav {
    padding:.5rem .5rem .5rem 2rem;
    font-weight:bold;
    background-color:#F3F3F3;
}
nav a {
    text-decoration: none;
}
h1 {
    background-image:url(assets/utahtechlogo.svg);
    background-position:right;
    background-repeat:no-repeat;
    padding-left:1em;
    background-origin: content-box;
    margin-bottom:0;
}
h2 {
    color:#424242;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h3 {
    color:#003058;
}
.ut {
    color:#BA1C21;
    font-weight:bold;
}
dt {
    color:#003058;
    font-weight:bold;
}
footer {
    padding:1rem;
    font-size:.70rem;
    font-style:italic;
    text-align:center;
}
#wrapper {
    width:80%;
    margin-right:auto;
    margin-left:auto;
    background-color:#FFFFFF;
    min-width:960px;
    max-width:2048px;
    box-shadow:0px 3px 3px rgba(66,66,66,0.3);
}
#students {
    width:300px;
}
#homehero {
    height:300px;
    background-image:url("assets/homehero.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 50%;
}
#studenthero {
    height:300px;
    background-image:url("assets/studenthero.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 50%;
}
#facultyhero {
    height:300px;
    background-image:url("assets/facultyhero.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 50%;
}